{% extends 'layout.njk' %}

{% block header %}
  <title>About - Rocketseat - Desafio</title>
{% endblock header %}

{% block content %}
  <main>
    <section id="wrapper">
      <img src="{{ about.url_img }}" alt="{{ about.url_description }}">
      <h1>{{ about.title }}</h1>
      <h2>{{ about.title_description }}</h2>
      <p>{{ about.description }}</p>
      <ul>
        {% for list_tech in about.list_techs %}
          <li>{{ list_tech.name }}</li>
        {% endfor %}
      </ul>
      <p>{{ about.description_tech }}</p>
    </section>

    <section id="links-footer" class="links">
      {% for link in about.links %}
        <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
      {% endfor %}
    </section>
  </main>
{% endblock content %}