@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background: #282a36;
}

nav {
  height: 70px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.3);
}

nav ul {
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 30px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;  
}

nav ul li a:hover {
  color: #e4e4e4;
}
