@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Source+Sans+Pro:wght@400;700&display=swap');

:root {
  --color-rocketseat: rgb(113, 89, 193);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background: #282a36;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 30px;
  background: var(--color-rocketseat);
}

.links a {
  margin: 0 30px;
  color: #fff;
  opacity: 80%;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
}

.links a:hover {
  opacity: 100%;
  transition: 250ms;
}

#wrapper {
  text-align: center;
  padding: 30px;
}

#wrapper img {
  height: 250px;
  margin-bottom: 15px;
  border-radius: 50%;
  border: 5px solid rgb(55, 63, 170);
}

#wrapper h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 42px;
  line-height: 52px;
}

#wrapper h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 23px;
  font-weight: normal;
  font-style: italic;
  line-height: 33px;
  margin-bottom: 10px;
}

#wrapper p {
  max-width: 600px;
  margin: 0px auto;
  line-height: 26px;
}

#wrapper p a {
  color: darkcyan;
  text-decoration: none;
}

#wrapper ul {
  display: inline-flex;
  text-align: center;
  margin: 0 auto;
  text-align: left;
  line-height: 26px;
  list-style: inside;
}

#wrapper ul li {
  margin: 15px;
}

#links-footer {
  text-align: center;
  padding: 10px;
}

#links-footer a {
  border-bottom: 2px solid darkcyan;
}
