@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(241, 239, 255);
  font-family: 'Roboto', sans-serif;
}

header {
  padding: 30px;
  background: rgb(113, 89, 193);
}

header div {
  text-align: center;
}

header div a {
  margin: 0 30px;
  color: #fff;
  opacity: 80%;
  font-size: 16px;
  font-weight: bold;
  line-height: 26px;
  text-decoration: none;
}

header div a:hover {
  opacity: 100%;
  transition: 250ms;
}